.active {
  font-weight: bold;
}

.inactive{
  transition: color .3s;
  color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 2.5;
  text-transform: uppercase;
  &:hover;
    cursor: pointer;
    color: $black;
}

.logo-pic {
    width: 100px;
    height: 100px;
}

.header {
  margin-bottom: 50px;
}

.navbar-tab {
  /*width: 500px;*/
}

.cart-tab {
  display: block;
}

.home-link {
  text-align: center;
  text-decoration:none;
}

.home-link:hover {
  text-decoration:none;
}

.title {
  padding-bottom: 30px;
  padding-top: 20px;
}

.buttons-group {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.delivery-button {
  width: 40%;
  margin-right: 10px;
  height: 65px;
}

.pickup-button {
  width: 40%;
  margin-left: 10px;
  height: 65px;
}


.pickup-dropdown {
  text-align: center;
  /*margin-right: 130px;*/
}

.date-dropdown {
  width: 100%;
  /*margin-right: 10px;*/
  margin-right: 49px;
}

.time-dropdown {
  /*margin-left: 10px;*/
  width: 100%;
}

.dropdown {
  margin-left: 10px;
  margin-right: 10px;
  width: 228px;
}

.footer-buttons {
  text-align: center;
}

.update-button {
  border-radius: 22.5px;
  margin-bottom: 8px;
}
.address_button {
  border-radius: 22.5px;
  background-color: #3a384d;
  color: white;
  margin-bottom: 15px;
}
