body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#parent{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.itemIcon{
  padding-bottom: 4%;
  height: 250px;
  width: 250px;
  /*flex: 0 1 48%;*/
  flex-wrap: wrap;
  /*flex-wrap: nowrap;*/
  /*align-items: stretch;*/
  /*&:nth-child(2n);*/
  /*padding-left: 4%;*/
  /*padding-right: 0;*/
}
.content{
  height: 100%;
  width: 100%;
  background: #eee;
  cursor: pointer;
}
