.item-pic {
  width: 375px;
  /*width: 200px;*/
  /*width: 50%;*/
  height: 250px;
}
.item-preview {
  text-align: center;
  /*width: 49%;*/
  padding-bottom: 35px;
}

.name {
  font-size: 20px;
}

.price {
  font-size: 20px;
}
